RewriteEngine On

# Web Service
RewriteRule ^api/(.*)$ api/index.php [L]

# Home
RewriteRule !\.(js|ico|gif|jpg|png|css|pdf|swf|flv|map)$ index.php [QSA]

# Redirecionamento de Arquivos de Layout Base
RedirectMatch ^/css/(.*) /stylesheets/$1
RedirectMatch ^/img/(.*) /images/$1
RedirectMatch ^/js/(.*) /javascripts/$1