RewriteEngine On

# URL Amigável - Site
RewriteRule !\.(js|ico|gif|jpg|png|css|pdf|swf|flv|map)$ index.php [QSA]

# Redirecionamento de Arquivos comuns para /data
RedirectMatch ^/css/(.*) /stylesheets/$1
RedirectMatch ^/img/(.*) /images/$1
RedirectMatch ^/js/(.*) /javascript/$1